.mybackground{
    background-image:-webkit-linear-gradient(left, #6900FF,#205fb2,#a1d2ff);
    margin: 0;
}
.header{
    overflow: hidden;
    background-color: #ffffff;
    padding: 10px;
}


.header a.logo{
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 1px;
    margin-left: 50px;
}

.header a:hover {
    background-color: #ddd;
    color: black;
}

.hometitle{
    display:flex;
}

.hometitle p{
    color: white;
    margin: 0;
    margin-left: 20px;
    margin-top: 10px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    letter-spacing: 20px;
}

.scoringboard{
    display: flex;
    justify-content: center;
}
.scoringboard div.middle{
    display: flex;
    justify-content: center;
}

.scoringboard p{
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.scoringboard p.score_text{
    font-size: 20px;
    color: white;
}
.scoringboard p.score_num{
    font-size: 50px;
    color: rgb(201, 240, 61);
}

.content{
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}

.content div.FirstColumn{
    width: fit-content;
    height: 100%;
}


.redbox{
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-top: 20px;
    justify-content: center;
}

.redbox button{
    border-radius: 100%;
    width: 40px;
    height: 30px;
    margin-left: 20px;
    margin-right: 20px;
    border-style: none;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.redbox button:hover{
    background-color: green;
    color: white;
}

.redbox p{
    margin: 0;
    text-decoration-line: underline;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 30px; 
}

.redbox p.Scoretext{
    font-size: 40px;
}

.playerparking{
    padding-top: 20px;
}

.playerparking p{
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: black;
    background-color: white;
    margin: 0 ;
}

.playerparking button{
    width: 100%;
    height: 35px;
    margin: 0;
    background-color: white;
    border-style: none;
    font-size: 15px;
}

.playerparking button.park1{
    background-color: green;
    color: white;
}

.playerparking button.park2{
    background-color: green;
    color:  white;
}

.FirstColumn div.supplyzone{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.FirstColumn div.supplyzone button{
    border-radius: 10%;
    width: 200px;
    height: 80px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.reset{
    display: flex;
    justify-content:  center;
    margin-top: 20px;
}

.reset button{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: darkred;
    color: white;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-color: red;
}
.SecondColumn{
    width: 100%;
}

.SecondColumn div.firstrow{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.firstrow div.content1{
    width: 50%;
    display: flex;
    justify-content: center;
}
.firstrow div.content2{
    width: 50%;
    display: flex;
    justify-content: center;
}

.secondrow div.content3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.headerrow{
    display: flex;
    justify-content: center;

}

.goalone{
    background-color: rgb(219, 219, 219);
    border-radius: 10px;
    width: 200px;
    height: 280px;
    margin-left: 50px;
    margin-right: 50px;
}

.goaltwo{
    background-color: rgb(219, 219, 219);
    border-radius: 10px;
    width: 200px;
    height: 280px;
    margin-left: 50px;
    margin-right: 50px;
}

.goalthree{
    background-color: rgb(219, 219, 219);
    border-radius: 10px;
    width: 200px;
    height: 280px;
    margin-left: 50px;
    margin-right: 50px;
}

.heightbonus{
    display: flex;
    justify-content: center;
}

.heightbonus div.text{
    display: flex;
    align-items: center;
}

.heightbonus div.text p{
    margin: 10px;
    font-size: 30px;
    color: white;
}




















.labelgoal1{
    display:  flex;
    justify-content: center;
}

.labelgoal1 p {
    font-size: 25px;
}


.boxcount{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.boxcount button{
    border-radius: 100%;
    border-style: solid;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxcount button:hover{
    background-color: green;
    color: white;
}

.boxcount p{
    font-size: 50px;
    margin: 0;
}

.goallevel{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.goallevel button{
    border-style: none;
    border-top-style: solid;
    border-bottom-style: solid;
    width: 100%;
    height: 50px;
}

.goallevel button.uniform{
    background-color: green;
    color: white;
}


.uniformgoal{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.uniformgoal button{
    border-radius: 10%;
    width: 150px;
    height: 30px;
}